.titleCard:hover {
    cursor: pointer;
}

.genreItem:hover {
    cursor: pointer;
}

.locationCard:hover {
    cursor: pointer;
}

.post:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}